/statistics.png
/ece_oc_abs.png
/ece_oc_rel.png
/ece_oc_abs_ipsi.png
/ece_oc_rel_ipsi.png
/ece_oc_abs_contra.png
/ece_oc_rel_contra.png
*lymph_invest*
/venn_diagram.png
/confusion_matrix.png
/confusionmat_lymphsize_hist.png
/II_III_corr_OC.png
/Log_ROC.svg
/ece_stacked_bar.png
/multi_panel_statistics.png
/venn_and_stacked_ece.png
